---
import FromAstro from "../components/FromAstro.astro";
import FromSvelte from "../components/FromSvelte.svelte";
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h3>Svelte props provided from Astro:</h3>
        <FromAstro />

        <h3>Svelte props provided from Svelte:</h3>
        <FromSvelte client:load />
    </body>
</html>
