<script lang="ts">
    //
    // Providing Svelte props from within Svelte
    //

    import SvelteTest from "./SvelteTest.svelte";
</script>

<SvelteTest name="Svelte" undefinedProp={undefined} nullProp={null} />
