<script lang="ts">
    export let name: string;
    export let undefinedProp: undefined;
    export let nullProp: null;

    console.log(`From ${name}:
\tundefinedProp: ${undefinedProp}
\tnullProp: ${nullProp}`);
</script>

<ul>
    <li>undefinedProp: <code>{undefinedProp}</code></li>
    <li>nullProp: <code>{nullProp}</code></li>
</ul>
